Host *.acquia.com
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
Host *.acquia-sites.com
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
Host *github.com*
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
Host *drupal.org*
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
